<?xml version="1.0"?>
<psalm
        errorLevel="1"
        resolveFromConfigFile="true"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="https://getpsalm.org/schema/config"
        xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
        findUnusedPsalmSuppress="true"
        findUnusedBaselineEntry="true"
        findUnusedCode="false"
    errorBaseline="psalm-baseline.xml"
>
    <projectFiles>
        <directory name="src"/>
        <directory name="test/"/>
        <directory name="benchmark/"/>
        <ignoreFiles>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>
    <issueHandlers>
        <InternalClass>
            <errorLevel type="suppress">
                <referencedClass name="Laminas\Cache\Storage\Adapter\Filesystem\LocalFilesystemInteraction"/>
            </errorLevel>
        </InternalClass>
        <InternalMethod>
            <errorLevel type="suppress">
                <directory name="test"/>
            </errorLevel>
        </InternalMethod>
    </issueHandlers>
    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>
</psalm>
